.contenedor {
    display: grid;
    justify-content: space-between;

    img {
        width: 250px;
        height: 200px;
        margin: 30px;
        padding: 10px;
        opacity: 0.5;
    }

    .imagenes img:hover {
        opacity: 1;
        width: 260px;
        height: 210px;
    }
}