@import "variables";
@import "contacto";
@import "reservas";
@import "header";
@import "ubicacion";
@import "footer";
@import "galeria";

* {
    border: 0;
    padding: 0;
}
body {
    background-color: $colorbody;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
}

.imagen img {
    width: 100vw;
    height: 90vh;
}

@include mobile {
    .portada {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .encabezado {
        align-items: flex-start;
    }

    .portada img {
        width: auto;
    }

    .menu {
        align-items: flex-end;
    }

    h1 {
        font-size: 1.5rem;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .imagenes img {
        opacity: 1;
    }

    .reservas form {
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
    }

    .campo {
        justify-content: flex-end;
    }

    .buscar {
        padding: 10px;
    }

    .piepagina {
        gap: 15px;
        padding: 15px;
    }

    .piepagina img {
        width: 35px;
        height: 35px;
    }
}